.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  height: 6em;

  img {
      height: 2rem;
      padding: 2em 0em;
      padding-left: 1em;
  }

  &__list {
    display: flex;
    height: 100%;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
    justify-content: center;
    margin: 0;
    padding-bottom: 0;
  }

  &__item {
      display: flex;
      align-items: center;
      gap: 0.3em;
      height: calc(100% - 4px);


      margin: 0;
      padding: 0;
      color: #eeeeee;
      font-size: 100%;
      border-bottom: 4px solid transparent;

    &:hover, &--active {
      border-bottom: 4px solid #ffdd57;
      color: #ffdd57;
    }

    &--active {
      border-bottom: 2px solid #ffdd57;
    }

  }
  &__image {
      border-left: 1px solid white;
      height: 100%;
      padding: 2em 0em;
  }
}
