.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  height: 6em;

  &__group {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
  }
  .menu__logo {
      height: 2rem;
      padding-left: 2em;
  }

  &__list {
      display: flex;
      height: 100%;
      align-items: center;
      list-style: none;
      gap: 1.5rem;
      justify-content: center;
      margin: 0;
      padding-bottom: 0;
  }

  &__item {
      display: flex;
      align-items: center;
      gap: 0.3em;
      height: calc(100% - 4px);

      margin: 0;
      padding: 0;
      color: #eeeeee;
      font-size: 100%;
      border-bottom: 4px solid transparent;

      &:hover, &--active {
          border-bottom: 4px solid #ffdd57;
          color: #ffdd57;
      }

      &--active {
          border-bottom: 4px solid #ffdd57;
      }
  }

  &__toggle, &__close {
      cursor: pointer;
      background-color: transparent;
      color: white;
      border: 0;
      display: none;
  }

  &__image {
      border-left: 1px solid white;
      padding: 2em 1em;
  }
}

@media (max-width: 1023px) {
  .menu {
      height: 4em;
      border-bottom: 4px solid #ffdd57;
  
      &__group {
          align-items: center;
          width: 100%;
          padding: 0em 1em;
          justify-content: space-between;

      }
      .menu__logo {
          padding-left: 0;
      }
    
      &__list {
          display: none;
      }
    
      &__toggle {
          display: block;
      }
  }
}
